body {

    background: #1d1f21;
    text-align: center;
    cursor: url('../assets/cursor.png') 16 16, auto;

}

.container {
    gap: 20px;
    /* Espaço entre os blocos */
    justify-content: center;
    /* Centraliza os blocos */
    align-items: flex-start;
    /* Alinha no topo */
    flex-wrap: wrap;
    /* Permite quebrar para outra linha se não couber */
}

.bloco {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    /* Ajuste conforme necessário */
    flex: 1;
    /* Faz os blocos se ajustarem ao espaço disponível */
    max-width: 300px;
    /* Limita o tamanho para não ficarem gigantes */
    text-align: center;
    /* Alinha o texto no centro */
}

.caixa {
    margin: 40px;
}

.corPrimaria {
    margin-top: 2%;
    margin-left: 40%;
    height: 17em;
    background-color: #eef1ee;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #f14e32;
    border-radius: 30px;

    flex-direction: column;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.116);

}

.corSecundaria {
    height: 21em;
    width: 16em;
    border-radius: 30px;
    background-color: #9b6666;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.116);

    transition: transform 0.4s ease, box-shadow 0.4s ease, z-index 0s;

}

.corSecundaria:hover {

    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);

}

.lado-a-lado {
    display: inline-block;

}

.resposta {
    color: #006100;
}


h1 {
    padding: 1rem;
}

input {
    text-align: center;
    border-radius: 60px;

}