body {

    background: #1d1f21;
    text-align: center;
    cursor: url('../assets/cursorw.png') 16 16, auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

input[type=number] {
    -moz-appearance: textfield;
}


.container {

    margin-top: 2%;
    /* Coloquei pra nao deixar a margem no topo grudando com o navegador*/

    display: flex;
    gap: 0.4cm;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.corPrimaria {


    margin-top: 2%;
    margin-left: 40%;
    height: 18em;

    background-color: #eef1ee;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    color: #f14e32;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);

}

.corSecundaria {

    height: 22em;

    /* Apagando a o margin-top: 10%; que tinha aqui, ele centralizou tranquilo, mas cortou a parte de cima dos cards, dai fui no .container e apaguei a margin-top: -8%; que tinha colocado e ele arrumou*/

    width: 16em;
    border-radius: 30px;
    background-color: #9b6666;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.116);
    transition: transform 0.4s ease, box-shadow 0.4s ease, z-index 0s;
    flex: 1;
    min-width: 350px;
    max-width: 300px;
    padding-bottom: 2.5px;

}


button {
    padding: 0.8em 1.8em;
    border: 2px solid #9b6666;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #9b6666;
    border-radius: 30px;

    margin-top: -25px;
}

.button1Input {

    margin-top: 4.50em;

}

.button2Input {

    margin-top: 1.70em;
}

button::before {

    cursor: url('../assets/cursor1.png') 16 16, auto;
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #874d47;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {

    width: 105%;
}

button:hover {
    cursor: url('../assets/cursor1.png') 16 16, auto;
    color: white;

}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #222e2c;

}


.resposta {
    margin-top: 2.50em;

}

.corSecundaria:hover {

    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);

}



.org {

    /*Modifiquei a margin: 50px; para 40px, apaguei a margin0bottom:300; pq estava dando incopatibilidade com o cod margin e convertir o justify-content: center; para justify-content: flex-start; e usei o margin-left: -35cm; negativo para puxar a resposta pro meio*/

    width: 94.6rem;
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.respostaTabuada {

    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    width: 15rem;
    display: none;
    background-color: #9b6666;
    float: left;
    height: 17rem;
    border-radius: 30px;
    margin-top: 1em;
    margin-right: 2.5%;
    min-width: 350px;
    max-width: 300px;
    color: #222e2c;
    text-align: center;
    z-index: 1;

}


h1 {
    margin-top: -7.2px;
    padding: 1rem;
    gap: 100em;
    font-size: 36.5px;
    font-family: 'Bebas Neue', sans-serif;
}


input {

    text-align: center;
    border-radius: 60px;

}

/* From Uiverse.io by cohencoo */
.input {
    cursor: url('../assets/cursor1.png') 16 16, auto;
    position: relative;
    top: -15px;
    border-radius: 5px;
    outline: 2px solid #9b6666;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eef1ee;
    outline-offset: 3px;
    padding: 5px 2rem;
    transition: 0.15s;
}

.input:focus {
    outline-offset: 5px;

}

/* Aqui começa os codigos do menu*/

.menu-central {
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    gap: 20px;
    /* Espaçamento entre os itens */
    position: relative;
    /* Garante que fique no layout */
    width: 100%;
    /* Ocupa toda a largura */
    margin: 10px auto;
    /* Reduz a margem externa */
    padding: 5px;
    /* Diminui o espaçamento interno */
}

.menu-central a {

    text-decoration: none;
    color: #f14e32;
    font-size: 36.5px;
    margin-right: 10px;
    font-weight: bold;
    padding: 12px 20px;
    /* Reduz o tamanho dos botões */
    background-color: #eef1ee;
    /* Cor do fundo */
    border-radius: 23px;
    transition: 0.3s;

}

.menu-central a:hover {
    cursor: url('../assets/cursor1.png') 16 16, auto;
    background-color: #874d47;
    /* Cor ao passar o mouse */
}